/* Error: Undefined variable.
 *   ,
 * 3 |     background-color: $main-onSecondary;
 *   |                       ^^^^^^^^^^^^^^^^^
 *   '
 *   scss\_blocks\_shoppingCart\_cartBlocks.scss 3:23  @import
 *   scss\_blocks\_blocks.scss 5:9                     @import
 *   scss\main.scss 1:9                                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502      background-color: $main-onSecondary;\d\a   \2502                        ^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\_blocks\\_shoppingCart\\_cartBlocks.scss 3:23  @import\a   scss\\_blocks\\_blocks.scss 5:9                     @import\a   scss\\main.scss 1:9                                root stylesheet";
}
